body {
    font-family: Arial, Tahoma, sans-serif, serif;
    margin: 0;
    background-color: #a0bdb3;
}

.app-title{
    text-align: center;
    height: 9vh;
    margin-top: 7px;
}

.lent-div, .borrowed-div{
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    height: 40vh;
    margin: 5px;
    background-color: #d9e3df;
    display: grid;
    grid-template-rows: 7% 5% 73% 10%;
}
.lent-header-div, .borrowed-header-div{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.loan-balance-div{
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    height: 3vh;
    margin: 5px;
    background-color: #d9e3df;
}

hr{
    margin-left: 10px;
    margin-right: 10px;
}

.lent-table-div, .borrowed-table-div{
    overflow-y:auto;
}

.lent-table-row-div, .borrowed-table-row-div{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.borrower-item, .lender-item {
    grid-column: 1 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.amount-item {
    grid-column: 2 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-item{
    grid-column: 3 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.description-item{
    grid-column: 4 /span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}