body {
    font-family: Arial, Tahoma, sans-serif, serif;
    font-size: large;
    margin: 0;
    background-color: #a0bdb3;
}

input {
    font-size: large;
    font-family: Arial, Tahoma, sans-serif, serif;
}

select{
    font-size: large;
    font-family: Arial, Tahoma, sans-serif, serif;
}

.app-title {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 12vh;
    margin-top: 7px;
}

.back-div {
    padding-left: 10px;
}

.loan-filter-div{
    padding-left: 15px;
}

.loan-div {
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    height: 37vh;
    margin: 5px;
    background-color: #d9e3df;
    display: grid;
    grid-template-rows: 7% 5% 73% 10%;
}

.loan-header-div {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.loan-balance-div {
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    height: 3vh;
    margin: 5px;
    background-color: #d9e3df;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}

.loan-table-div {
    overflow-y: auto;
}

.loan-table-row-div {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 15% 10% 45%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.loan-table-row-div:hover {
    background-color: #a0bdb3
}

.person-div {
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    height: 60vh;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #d9e3df;
    display: grid;
    grid-template-rows: 7% 5% 83%;
    text-align: left;
}

.person-header-div {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.person-table-div {
    overflow-y: auto;
}

.person-table-row-div {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.person-table-row-div-colored {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #a0bdb3;
}

.person-button-item {
    text-align: right;
    padding-right: 5px;
}

.loan-party-item {
    grid-column: 1 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount-item {
    grid-column: 2 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-item {
    grid-column: 3 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.description-item {
    grid-column: 4 /span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loan-table-div a:active, .back-div a:active {
    text-decoration: none;
}


.loan-table-div a, .back-div a {
    color: black;
    text-decoration: none;
}

.loan-form {
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    background-color: #d9e3df;
    text-align: center;
}

.form-details {
    margin: 40px 15px 5px 15px;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: left;
}

.form-details-sm {
    margin: 15px 15px 5px 15px;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: left;
}

#lenderOrBorrower {
    width: 100%;
    margin-bottom: 3px;
}

#activate-return-date {
    width: 13px;
}

#loan-form-button {
    width: 75%;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.1em;
}

button {
    border-radius: 5px;
    min-width: 75px;
    min-height: 28px;
    font-size: large;
}

.loan-details-container {
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    background-color: #d9e3df;
}

.loan-details-header {
    margin: 15px;
}

.loan-details-body {
    display: grid;
    grid-template-columns: 30% 70%;
}

.loan-details {
    margin: 15px 10px 15px 10px;
}

.loan-details-label {
    margin: 15px 10px 15px 10px;
    color: #809a8f;
}

.loan-delete-button-div{
    display: flex;
    justify-content: space-evenly;
}

.person-form {
    border: #888888 solid 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 7px;
    background-color: #d9e3df;
    text-align: center;
}

.person-form-title{
    text-align: center;
}
#person-name{
    width: 70%;
}

.login-div {
    border: #888888 solid 1px;
    border-radius: 10px;
    padding: 3px;
    height: 27vh;
    margin: 5px;
    background-color: #d9e3df;
    display: grid;
    grid-template-rows: 7% 5% 73% 10%;
}

#login-title{
    text-align: center;
}

#username-input, #password-input, #password2-input{
    margin-bottom: 5px;
}

.validation-message{
    color: red;
    text-align: left;
    font-size: smaller;
    margin: 0 15px 0 15px;
}

.validation-message-person{
    color: red;
    text-align: center;
    font-size: smaller;
    margin: 3px 15px 0 15px;
}
